.container-style {
    display: flex;
    align-items: center;
    gap: 8px;
}

.input-style {
    width: 3rem !important;
    height: 3rem;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    text-align: center;
    font-weight: bold;
    font-size: 1.75rem;
    line-height: 1.75rem;
}

.input-style:focus {
    border-radius: 4px;
    border: 1px solid #5C87FF;
}

.span-style {
    width: 0.5rem;
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
    background-color: rgba(156, 163, 175, 1);
}

.timer-style {
    font-size: 14px !important;
    font-weight: 600;
}